## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [27]:
sample_list_1=random.sample(range(100),k=80)
print (sample_list_1)

[82, 93, 86, 65, 10, 32, 54, 38, 16, 28, 36, 88, 46, 76, 24, 79, 14, 90, 41, 60, 40, 47, 48, 3, 30, 6, 67, 81, 62, 55, 74, 68, 78, 64, 8, 98, 21, 42, 4, 94, 44, 91, 72, 26, 45, 11, 29, 89, 5, 12, 49, 1, 71, 58, 20, 53, 61, 2, 57, 37, 69, 83, 97, 15, 25, 80, 35, 66, 33, 92, 22, 63, 77, 23, 70, 13, 51, 99, 27, 73]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [11]:
set1=set(sample_list_1)
print(set1)

print(len(set1))

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 36, 37, 38, 39, 40, 41, 44, 45, 47, 48, 49, 50, 51, 52, 54, 55, 56, 60, 63, 64, 65, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [30]:
sample_list_2=random.choices(range(100),k=80)
print(sample_list_2)

[77, 33, 35, 2, 85, 5, 60, 73, 82, 75, 81, 44, 90, 87, 64, 95, 99, 13, 29, 92, 4, 34, 12, 70, 86, 6, 4, 15, 58, 63, 97, 47, 59, 83, 30, 8, 9, 30, 62, 21, 39, 18, 43, 5, 96, 0, 89, 1, 20, 35, 43, 14, 52, 76, 29, 47, 65, 19, 81, 17, 11, 76, 84, 53, 45, 29, 2, 66, 43, 84, 76, 70, 52, 91, 35, 9, 26, 22, 45, 47]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [32]:
set2=set(sample_list_2)
print(set2)
print(len(set2))
#length is not 80 anymore

{0, 1, 2, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 26, 29, 30, 33, 34, 35, 39, 43, 44, 45, 47, 52, 53, 58, 59, 60, 62, 63, 64, 65, 66, 70, 73, 75, 76, 77, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 95, 96, 97, 99}
60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [46]:
set_3=[]
for set1_elem in set1:
    if set1_elem not in set2:
        set_3.append(set1_elem)
        set3=set(set_3)
print(set3)

{7, 10, 23, 24, 25, 27, 28, 31, 36, 37, 38, 40, 41, 48, 49, 50, 51, 54, 55, 56, 68, 69, 71, 74, 78, 79, 80, 88, 93, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [47]:
set_4=[]
for set2_elem in set2:
    if set2_elem not in set1:
        set_4.append(set2_elem)
        set4=set(set_4)
print(set4)

{33, 66, 97, 43, 18, 53, 85, 58, 59, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [48]:
set_5=[]
for set1_elem in set1:
    if set1_elem in set2:
        set_5.append(set1_elem)
        set5=set(set_5)
print (set5)

{0, 1, 2, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 26, 29, 30, 34, 35, 39, 44, 45, 47, 52, 60, 63, 64, 65, 70, 73, 75, 76, 77, 81, 82, 83, 84, 86, 87, 89, 90, 91, 92, 95, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [57]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#set3 is set 1 minus intersection set1 and set2

#set4 is set2 minus intersection set1 and set2

#set 5 is the intersection between set 1 and set 2

formset5=len(set1.intersection(set2))
formset3= len(set1)-formset5
formset4=len(set2)-formset5


print("len set3 is set 1 minus intersection set1 and set2, therefore", formset3)
print("len set4 is set2 minus intersection set1 and set2", formset4)
print("len set 5 is the intersection between set 1 and set 2", formset5)

80
60
30
10
50
len set3 is set 1 minus intersection set1 and set2, therefore 30
len set4 is set2 minus intersection set1 and set2 10
len set 5 is the intersection between set 1 and set 2 50

#### Create an empty set called `set6`.

In [58]:
set6=set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [61]:
set6.update(set3,set5)
print(set6)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 36, 37, 38, 39, 40, 41, 44, 45, 47, 48, 49, 50, 51, 52, 54, 55, 56, 60, 63, 64, 65, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}

#### Check if `set1` and `set6` are equal.

In [62]:
if set1==set6:
    print(True)
else:
     print(False)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [63]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [65]:
union1=set3.union(set4,set5)
print(union1)

union2=set1.union(set2)
print(union2)

#yes

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}
{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### Using the `pop` method, remove an element from `set1`.

In [9]:
set1={0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 36, 37, 38, 39, 40, 41, 44, 45, 47, 48, 49, 50, 51, 52, 54, 55, 56, 60, 63, 64, 65, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}

print(set1.pop())
print(set1)

0
{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 34, 35, 36, 37, 38, 39, 40, 41, 44, 45, 47, 48, 49, 50, 51, 52, 54, 55, 56, 60, 63, 64, 65, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [15]:
remove_list=[]
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for elemt_list_to_remove in list_to_remove:
    if elemt_list_to_remove not in set1:
        remove_list.append(elemt_list_to_remove)

print(remove_list)

[59, 61]